<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
	============================================= -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/dark.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/swiper.css" type="text/css" />

  <link rel="stylesheet" href="stylesheets/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Document Title
	============================================= -->
  <title>Toulouse</title>



</head>

<body class="stretched">

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    <% include tools/navbar.ejs %>


    <section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">

      <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
          <div class="swiper-wrapper">
            <div class="swiper-slide dark" style="background-image: url('images/space.jpg');">
              <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                  <h2 data-animate="fadeInUp " style="text-shadow:1px 1px 20px #000000">Toulouse</h2>
                  <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200" style="text-shadow:1px 1px 20px #000000">Voyagez dans l'Espace</p>
                </div>
              </div>
            </div>
          </div>

        </div>

    </section>


    <!-- Content
		============================================= -->
    <section id="content">

      <div class="content-wrap nopadding">



        <div class="row nopadding common-height">

          <div class="col-lg-4 dark col-padding ohidden" style="background-color: #34495e;">
            <div>
              <h3 class="uppercase" style="font-weight: 600;">Météorite Escalade</h3>


              <img class="img-fluid" src="images/0021.jpg" />
              <br />
              <br />
              <p>Quand les petits deviennent de grands explorateutrs.</p>
              <p>
                Découverte
              </p>
            </div>
          </div>

          <div class="col-lg-4 dark col-padding ohidden" style="background-color: #719ECC;">
            <div>
              <h3 class="uppercase" style="font-weight: 600;">Cinéma 4D</h3>

              <img class="img-fluid" src="images/0015.jpg" />
              <br />
              <br />
              <p>Une expérience immersive qui vous fera vivre l'action avec vos cinq sens. Les images qui se rapprochent de vous au point que vous aurez l'impression de pouvoir les toucher, le son est enveloppant, et des
                odeurs diffusées dans le cinéma sollicitent l'odorat.</p>
              <p>
                Familial
              </p>
            </div>
          </div>




          <div class="col-lg-4 dark col-padding ohidden" style="background-color: #8DC6FF;">
            <div>
              <h3 class="uppercase" style="font-weight: 600;">Exposition Villes du Futur</h3>

              <img class="img-fluid" src="images/0017.jpg" />
              <br />
              <br />
              <p>
                Des bâtiments biomimétiques produisant leur propre énergie, des tours et des navires dépollueurs, des cités flottantes. Découvrez des projets qui répondent aux grands défis urbains et écologiques du 21ème siècle.
              </p>
              <p>
                Découvertes
              </p>
            </div>
          </div>


          <div class="section notopborder nomargin">

            <div class="row nopadding common-height">

              <div class="col-lg-6 dark col-padding ohidden" style="background-color: #34495e;">
                <div>
                  <h3 class="uppercase" style="font-weight: 600;">Labyrinthe Laser</h3>

                  <img class="img-fluid" src="images/0022.jpg" />
                  <br />
                  <br />
                  <p>Retrouverez-vous la sortie une fois à l’intérieur ?</p>
<p>
  Familial
</p>
                </div>
              </div>




              <div class="col-lg-6 dark col-padding ohidden" style="background-color: #719ECC;">
                <div>
                  <h3 class="uppercase" style="font-weight: 600;">Les Anneaux de l’Espace </h3>

                  <img class="img-fluid" src="images/0020.jpg" />
                  <br />
                  <br />
                  <p>
                    Nos 4 anneaux vont vous en faire voir de toutes les couleurs. </p>
                  <p>
                    Attraction accessible dès 1,30 mètre.


                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>






        <div class="section parallax full-screen nomargin noborder" style="background-image: url('images/avion.jpg');" data-bottom-top="background-position:-100px -20px;" data-top-bottom="background-position:-200px -40px;">
          <div class="vertical-middle">
            <div class="container clearfix">



              <div class="emphasis-title">
                <h2 class="text-white text-center">Aviation</h2>
                <p class="lead topmargin-sm text-white text-center">Rejoignez Les Airs</p>
              </div>

            </div>
          </div>
        </div>



        <div class="section notopborder nomargin ">

          <div class="row nopadding common-height">

            <div class="col-lg-4 dark col-padding ohidden" style="background-color: #34495e;">
              <div>
                <h3 class="uppercase" style="font-weight: 600;">Mayday</h3>
                <img class="img-fluid" src="images/0013.jpg" />
                <br />
                <br />
                <p> UNIQUE en France ! Tout droit sorti des usines Airbus de Toulouse, prenez place à bord de cet appareil abandonné. Au programme turbulences, panne d’essence, évacuation ….</p>
                <p>
                  Sensations Fortes : Accessible à partir de 15 ans.



                </p>

              </div>
            </div>

            <div class="col-lg-4 dark col-padding ohidden" style="background-color: #719ECC;">
              <div>
                <h3 class="uppercase" style="font-weight: 600;">Looping</h3>

                <img class="img-fluid" src="images/0016.jpg" />
                <br />
                <br />
                <p>Tout commence par une montée calme où vous pouvez profiter du paysage... Mais pas pour longtemps ! Un plongeon à plus de 75km/h et sept boucles plus folles les unes que les autres vous mettent la tête à
                  l'envers. </p>
                <p>
                  Sensations Fortes : Attraction accessible à partir de 1.40 m.
                </p>
              </div>
            </div>


            <div class="col-lg-4 dark col-padding ohidden" style="background-color: #8DC6FF;">
              <div>
                <h3 class="uppercase" style="font-weight: 600;">: La Ville Rose</h3>

                <img class="img-fluid" src="images/0019.jpg" />
                <br />
                <br />
                <p>
                  Prenez de la hauteur avec la Grande Roue. Attraction accessible dès 1,30 mètre. </p>
                <p>
                  Familial : Attraction accessible dès 1,30 mètre.
                </p>
              </div>
            </div>
          </div>
        </div>




        <div class="row nopadding common-height">

          <div class="col-lg-6 dark col-padding ohidden" style="background-color: #34495e;">
            <div>
              <h3 class="uppercase" style="font-weight: 600;">Exposition Airbus</h3>
              <img class="img-fluid" src="images/0018.jpg" />
              <br />
              <br />
              <p> Comprenez le fonctionnement des usines Airbus, comment sont assemblés les avions, comment sont réalisés les différents test ….</p>

              <p>
                Découvertes
              </p>
              <i class="icon-bulb bgicon"></i>
            </div>
          </div>

          <div class="col-lg-6 dark col-padding ohidden" style="background-color: #719ECC;">
            <div>
              <h3 class="uppercase" style="font-weight: 600;">Les Petits Aviateurs</h3>

              <img class="img-fluid" src="images/0014.jpg" />
              <br />
              <br />
              <p>C’est incroyable ! Vite les enfants, montez à bord et placez-vous aux commandes de ces minis aéroplanes.</p>
              <p>
                Pour les plus petits
              </p>
            </div>
          </div>
        </div>


      </div>
  </div>







  </section><!-- #content end -->


</div>


<% include tools/footer.ejs %>



  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
	============================================= -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/plugins.js"></script>

  <!-- Footer Scripts
	============================================= -->
  <script src="javascripts/functions.js"></script>

  <script src="https://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="javascripts/jquery.gmap.js"></script>

  <script>
    $('#google-map').gMap({
      address: 'Melbourne, Australia',
      maptype: 'ROADMAP',
      zoom: 14,
      markers: [{
        address: "Melbourne, Australia",
        html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Hi, we\'re <span>Envato</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
        icon: {
          image: "images/icons/map-icon-red.png",
          iconsize: [32, 39],
          iconanchor: [32, 39]
        }
      }],
      doubleclickzoom: false,
      controls: {
        panControl: true,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false
      }

    });
  </script><!-- Google Map End -->

</body>

</html>
